body {
    /* background: beige; */
    background: #dedede;
    padding: 0;
    margin: 0;
}

.app-body > div {
    margin: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.app-body {
    margin-bottom: 65px;
    margin-top: 75px;
}

.app-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.rst__rowContents {
    border: none !important;
    box-shadow: none !important;
}

.float-right{
    float: right;
}

.graph-area-style {
    max-height: 600px;
    overflow-y: auto;
}

.padding-top-30 {
    padding-top: 30px;
}

.full-width {
    width: 100%;
}